<div class="bg-white border border-black p-6 lg:px-14 lg:py-10 flex -mt-px {{ switch between='| xl:-ml-px' }} flex-col @2xl:flex-row gap-6 relative">
    {{partial:components/vertical_label label="agenda"}}
    
    <figure class="h-56 @2xl:aspect-square @2xl:w-56 flex-none bg-slate-200 border border-black">
        {{ partial:media/picture :image="featured_image" cover="true" lazy="true" sizes="(min-width: 768px) 33vw, 90vw" }}
    </figure>
    
    <div class="">
        <div class="flex items-center gap-2 mb-2">
            
            {{ if categories }}
                {{categories}}
                    <div class="bg-black inline-flex text-xs text-white font-bold tracking-wide px-2 py-1">{{ title }}</div>
                {{ /categories }}
            {{ /if }}
            {{partial:components/date}}
        </div>
        <h3 class="font-bold text-lg">{{ title }}</h3>
        <p>{{summary}}</p>
        
        <a class="absolute inset-0 group" href="{{url}}">
            <div class="absolute inline-flex gap-2 bottom-4 right-4">
                <span class="sr-only">Lees verder</span>
                <span class="opacity-0 -translate-x-4 -rotate-45 duration-300 group-hover:rotate-0 group-hover:opacity-100 group-hover:translate-x-0">
                    {{ svg src="link-arrow" class="fill-current text-teal size-6" }}
                </span>
            </div>
        </a>
    </div>
</div>