<section class="border border-black -mt-px p-6 xl:p-14 relative">

    <div class="md:aspect-[16/7] lg:w-8/12 xl:w-9/12 bg-white border boder-black p-6 lg:p-14 z-10 relative">
        {{ partial:typography/display :as="heading_type" :content="heading" }}
        {{ partial:typography/p class="xl:text-xl mt-4 xl:mt-8 max-w-prose" :content="text"}}
    </div>
    <div class="absolute inset-0 z-0">
        {{ partial:media/picture :image="image" cover="true" lazy="true" sizes="(min-width: 768px) 33vw, 90vw" }}
    </div>

</section>

{{ partial:blocks/block class="border-none" }}
    <div class="@container grid xl:grid-cols-2 ">
        {{ collection :from="mount" sort="event_start:asc|title:desc" }}
            {{partial:components/event_teaser}}
        {{ /collection}}
    </div>
{{ /partial:blocks/block }}

{{ page_builder scope="block" }}
        {{ partial src="blocks/{type}" }}
{{ /page_builder }}