<header x-data="{ open: false }" class=" border bg-white relative z-10 overflow-hidden">
    <div class="flex flex-wrap justify-between relative z-20 bg-white">
        <div class="flex w-full flex-wrap justify-between relative z-20 bg-white">
            <a class="px-6 py-4 lg:px-14 lg:py-4 border-r text-gray-700 hover:text-gray-900 hover:bg-[#F8A89F] duration-200" href="/">
                {{ partial:snippets/logo class="h-12 w-auto" food_class="fill-current" design_class="fill-current" playground_class="fill-current" }}
            </a>
    
            <nav class="base-links flex">
                {{nav:quick_links}}
                    <a class="hidden sm:flex items-center px-6 py-4 lg:px-14 lg:py-4 border-l relative" href="{{url}}">
                        <div class="overflow-hidden">
                            <span class=" inline-block leading-none">{{title}}</span>
                        </div>
                    </a>
                {{/nav:quick_links}}
    
                <div @click="open = ! open" class="navigation-toggle group cursor-pointer px-6 py-4 lg:px-14 lg:py-4 border-l flex items-center">
                    <button class="group-hover:opacity-40 hamburger hamburger--squeeze" :class="open ? 'is-active' : ''" type="button">
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
                    </button>
                </div>
            </nav>
        </div>

        <div class="navigation relative duration-300 w-full z-0" :class="open ? 'is-active' : ''">
            {{ partial:navigation/main }}
        </div>
    </div>
    
</header>


