<script>
    document.addEventListener('DOMContentLoaded', function () {
        const urlParams = new URLSearchParams(window.location.search);
        const space = urlParams.get('space');
        if (space) {
            const field = document.getElementById('space_request-form-space-field');
            if (field) {
                field.value = space;
            }
        }
    });
</script>


{{ form:space_request }}
<div class="flex flex-col h-full w-full ">
    {{ if success }}
        <div class="bg-green-300 text-white p-2">
            {{ success }}
        </div>
    {{ else }}
        {{ if errors }}
            <div class="bg-red-300 text-white p-2">
                {{ errors }}
                    {{ value }}<br>
                {{ /errors }}
            </div>
        {{ /if }}
 
        {{ fields }}
            
            <div class="px-6 lg:px-14 field-group border-b">
                <label class="field-group__label">{{ display }}</label>
                <div class="field-group__input-wrapper">{{ field }}</div>
                {{ if error }}
                    <p class="text-gray-500">{{ error }}</p>
                {{ /if }}

            </div>
        {{ /fields }}
 
        <input type="text" class="hidden" name="{{ honeypot ?? 'honeypot' }}">
 
        <button type="submit">Submit</button>
    </div>
    {{ /if }}
 
{{ /form:space_request }}